/Java/PageAnalyzer_Workspace/PageAnalyzer/resources/custom/agent.log
/Java/PageAnalyzer_Workspace/PageAnalyzer/resources/custom/content.html
/Java/PageAnalyzer_Workspace/PageAnalyzer/resources/custom/css/injected.css
/Java/PageAnalyzer_Workspace/PageAnalyzer/resources/custom/js/injected.js
/Java/PageAnalyzer_Workspace/PageAnalyzer/datastore
/Java/PageAnalyzer_Workspace/PageAnalyzer/build
/Java/PageAnalyzer_Workspace/CoreFramework/docs/*.tmp
/Java/PageAnalyzer_Workspace/CoreFramework/docs/~$W_Documentation.docx
