/*************************************************************************
 * 
 * @author Reto Scheiwiller, 2018
 * 
 * Distributed under the MIT license
 *************************************************************************/

.result-view-tabs{
	visibility: hidden;
}

code {
	color: black;
}

h3 {
	margin-top: 40px;
	border-bottom: 1px solid black;
}

h4 {
	margin-top: 20px;
	border-bottom: 1px solid black;
}

#messages {
	padding-top: 60px;
}
#pa-content {
	min-height: 90%;
}

#pa-footer {
	padding: 20px;
	min-height: 10%;
	background-color: black;
}

#pa-footer a {
	padding: 5px;
	color: #ccc;
}

/*************************************************************************
 * 
 * @author Reto Scheiwiller, 2018
 * 
 * Distributed under the MIT license
 *************************************************************************/
.ganttBlock{
	
	float: left;
	padding: 0px;
	margin: 0px;
}

.percentDelta{ background-color: #eaeaea; }
.percentBlocked{ background-color: red; }
.percentConnect{ background-color: #c85f37; }
.percentDNS{ background-color: green; }
.percentReceive{ background-color: orange; }
.percentSSL{ background-color: #9e0e97; }
.percentSend{ background-color: blue; }
.percentWait{ background-color: gold; }

/*		percentConnect: 0
		percentDNS: 0
		percentDelta: 0
		percentReceive: 0
		percentSSL: 0
		percentSend: 0
		percentTotal: 13.412816691505217
		percentWait: 98.14814814814815
*/
//		time: 270