/*************************************************************************
 * 
 * @author Reto Scheiwiller, 2018
 * 
 * Distributed under the MIT license
 *************************************************************************/

.result-view-tabs{
	visibility: hidden;
}

code {
	color: black;
}

h3 {
	margin-top: 40px;
	border-bottom: 1px solid black;
}

h4 {
	margin-top: 20px;
	border-bottom: 1px solid black;
}

#messages {
	padding-top: 60px;
}
#pa-content {
	min-height: 90%;
}

#pa-footer {
	padding: 20px;
	min-height: 10%;
	background-color: black;
}

#pa-footer a {
	padding: 5px;
	color: #ccc;
}

#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	visibility: hidden;
}

/*************************************************************************
 * 
 * @author Reto Scheiwiller, 2018
 * 
 * Distributed under the MIT license
 *************************************************************************/
.ganttBlock{
	
	float: left;
	padding: 0px;
	margin: 0px;
}
.color-primary-0 { color: #24B215 }	/* Main Primary color */
.color-primary-1 { color: #66D35B }
.color-primary-2 { color: #42C035 }
.color-primary-3 { color: #148C07 }
.color-primary-4 { color: #0A6B00 }

.color-secondary-1-0 { color: #108878 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #47A598 }
.color-secondary-1-2 { color: #299384 }
.color-secondary-1-3 { color: #056B5D }
.color-secondary-1-4 { color: #005247 }

.color-secondary-2-0 { color: #D9691A }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFAA6D }
.color-secondary-2-2 { color: #EA8741 }
.color-secondary-2-3 { color: #AB4C08 }
.color-secondary-2-4 { color: #833600 }

.color-complement-0 { color: #D51923 }	/* Main Complement color */
.color-complement-1 { color: #FB6C73 }
.color-complement-2 { color: #E64048 }
.color-complement-3 { color: #A80810 }
.color-complement-4 { color: #810006 }

.percentdelta{ background-color: #eaeaea; }
.percentblocked{ background-color: #A80810; }
.percentdns{ background-color: #AB4C08; }
.percentconnect{ background-color: #056B5D; }
/*.percentssl{ background-color: #66D35B; }*/
.percentsend{ background-color: #148C07; }
.percentwait{ background-color: #FB6C73; }
.percentreceive{ background-color: #47A598; }
