
/**************************************************************
 *Override CFW default layout
 **************************************************************/
#cfw-content  {
	padding: 10px;
}
#cfw-container  {
	max-width: 100%;
}

/**************************************************************
 *Override gridstack
 **************************************************************/
.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow-x: visible;
    overflow-y: visible; 
}


/**************************************************************
 * Dashboard styling
 **************************************************************/
#cfw-dashboard-control-panel{
	padding: 15px;
}

.cfw-dashboard-widget-title {
    padding: 0.7rem;
    padding-right: 1.5rem;
    font-size: 20px;
    font-weight: 600;
}

.cfw-dashboard-widget-body {
    padding: 0.7rem;
    overflow-x: hidden;
    overflow-y: auto; 
    background: inherit;
}

.cfw-dashboard-widget-footer {
	padding: 0.7rem;
    padding-right: 1.5rem;
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    overflow-y: hidden;
    overflow-y: hidden; 
    background: inherit;
}

.cfw-dashboard-widget-settings{
	position: absolute;
	top: 8px;
    right: 8px;
}