/*************************************************************************
 * 
 * @author Reto Scheiwiller, 2019
 * 
 * Distributed under the MIT license
 *************************************************************************/
 
 /*************************************************************************
 * Bootstrap overwrite
 *************************************************************************/
.alert {
    margin-bottom: 0px;
}

.modal-body{
	overflow: auto;
	max-height: 80%; 
}

.navbar{
	background-color: black;
}
.dropdown-menu{
	background-color: #212529;
}

.dropdown-item{
	color: #a6aeb9;
}


 /*************************************************************************
 * Default Layout
 *************************************************************************/
#cfw-messages {
	padding-top: 56px;
}

#cfw-content {
	min-height: 90%;
	padding: 20px;
}

#cfw-footer {
	padding: 20px;
	min-height: 10%;
	max-height: 200px;
	background-color: black;
}

#cfw-footer a {
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	color: #ccc;
}

#cfw-login {
    margin: auto;
    max-width: 400px;
    min-width: 300px;
    padding-top: 100px;
}

#cfw-default-modal{
	
}
#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	visibility: hidden;
}

/*************************************************************************
 * Flex Classes
 *************************************************************************/

.flex-row{ display: flex; }
.flex-column{ display: flex; flex-direction: column;}

.flex-wrap{ flex-wrap: wrap; }
.flex-nowrap{ flex-wrap: nowrap; }

.flex-align-stretch{align-items: stretch;}
.flex-align-center{align-items: center;}

.flex-justify-center{justify-content: center;}
.flex-justify-evenly{justify-content: space-evenly;}

.flex-default{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.flex-item-grow{
	flex-grow: 1;
	margin: 5px;
}

/*use a div with background-image attribute*/
.flex-image{
	min-width: 200px;
	max-width: 500px;
	min-height: 200px;
	background-size: cover; 
	background-position: center; 
}

